<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form [formGroup]="instructorForm">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>InstructorId</label>
                        <input id="id" formControlName="id" name="Full Name" placeholder="Id" [readonly]="enableSave"
                            class="form-control" type="number">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Instructor First Name</label>
                        <input type="text" formControlName="instructorFirstName" class="form-control" id="firstName"
                            placeholder="First Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label>instructor Last Name</label>
                        <input type="text" formControlName="instructorLastName" class="form-control" id="lastName"
                            placeholder="Last Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Instructor Hire Date</label>
                        <input type="date" formControlName="instructorHireDate" class="form-control" id="date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Contact Number</label>
                        <input type="number" formControlName="instructorNumber" class="form-control" id="number"
                            placeholder="Contact Number">
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button *ngIf="!enableSave" type="button" class="btn-primary" (click)="addInstructor()">Create</button>
                        <button  *ngIf="enableSave" type="button" class="btn-primary" (click)="addInstructor()">Update</button>
                        <button type="button" class="btn-success" (click)="backtoList()">Back to list</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>